.footer-page
  text-align center
  margin-left: 17vw;
  p
    margin-bottom 1rem
    a
      color lightseagreen
      &:hover
        color lightcoral
        text-decoration underline
  .emoji
    font-size 2rem
    padding 0 0.5rem 0 0
