body
  overflow-x hidden

#home
  height 100vh
  width 100vw
  position relative
  top 0
  left 0
  z-index 2
  outline none
  .light-half
  .dark-half
    height 50vh
    width 100vw
  .light-half
    background-color white
    .light
      .wrapper
        text-align center
        height 100%
        display flex
        flex-direction column
        .author
          width 100%
          padding-top 2vh
          font-weight 600
          font-size 1.5rem
          font-family 'Abel', sans-serif
          text-transform uppercase
          text-align center
          letter-spacing 2px
          color #999
        .subline
          font-family: 'Unica One', sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #999;
  .dark-half
    background-color black

+below($screen-sm)
  .subline
    padding 0 0.25rem
    margin-bottom 1.5rem
