.icon
  padding 1rem
  fill lightseagreen
  &:hover
    fill lightcoral
  a
    fill lightseagreen
    &:hover
      fill lightcoral
  &.codepen
    svg
      stroke lightseagreen
    &:hover
      svg
        stroke lightcoral
