section(id="home")
  .light-half
    .light
      .wrapper
        h1.author Knochenmark
        h2.subline Some cool wording
        nav.home-navigation
          .nav-item
            a(href="#projects") Projects
          .nav-item
            a(href="#me") About Me
          .nav-item
            a(href="contact") Contact
  .dark-half
    .dark

