section(id="home")
  .light-half
    .light
      .wrapper
        h1.author Knochenmark
        h2.subline design. code. experiment.
        nav.home-navigation
          .nav-item
            a(href="#projects") Projects
          .nav-item
            a(href="#about") About Me
          .nav-item
            a(href="#contact") Contact
  .dark-half
    .dark

