#mondrian1.offscreen
  .rectangles
    .rec.yellow
    .rec.red
    .rec.blue
    .rec.red
    .rec.yellow
    .rec.yellow
    .rec.red
    .rec.red
    .rec.yellow
    .rec.blue
    .rec.blue
  .horizontal
    .line
    .line
    .line
    .line
    .line
  .vertical
    .line
    .line
    .line
    .line
    .line
