section(id="pages")
  aside(class="vertical-sidebar")
    .vertical-logo
    .vertical-menu
    .vertical-social
      svg(class="logo")
        use(xlink:href="/src/img/codepen")
  article
    p some text
    //- Footer
    include ../includes/footer
