aside(class="vertical-sidebar")
    .vertical-logo
      .icon
        a(href="#home")
          include ../svg/anchor.svg
    .vertical-menu
      nav.home-navigation
        .nav-item
          a(href="#home") Home
        .nav-item
          a(href="#projects") Projects
        .nav-item
          a(href="#about") About Me
        .nav-item
          a(href="#contact") Contact
    .vertical-social
      .icon
        a(href="https://github.com/Knochenmark")
          include ../svg/github.svg
      .icon.codepen
        a(href="https://codepen.io/Knochenmark")
          include ../svg/codepen.svg
section(id="projects")
  article
    h1 Projects
    .project-list
      .project
        a(href="https://codepen.io/Knochenmark/full/ZpYKPE/")
          .project-img
            img(src="assets/img/weather.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Weather App
            .project-text Using the darksky weather API to display the current weather, some other metrics and a preview of the current week.
      .project
        a(href="https://codepen.io/Knochenmark/full/qrqjaQ/")
          .project-img
            img(src="assets/img/pomodoro.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Pomodoro
            .project-text Based on the kitchen clock which is also used for the pomodoro technique to manage time intervals of 25min work and 5min breaks. This project features some really impressive pug and stylus function and mixin usage.
      .project
        a(href="https://codepen.io/Knochenmark/full/zwrWWP/")
          .project-img
            img(src="assets/img/tictac.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Tic Tac Toe
            .project-text Featuring some neat looking CSS transitions and effects.
      .project
        a(href="https://codepen.io/Knochenmark/full/RRyAqE/")
          .project-img
            img(src="assets/img/quote.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Quote Generator
            .project-text With twitter function
      .project
        a(href="https://codepen.io/Knochenmark/full/GjmZKr/")
          .project-img
            img(src="assets/img/wiki.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Wikipedia API
            .project-text Using the Wikipedia API
      .project
        a(href="https://codepen.io/Knochenmark/full/YpRBjw/")
          .project-img
            img(src="assets/img/twitch.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Twitch API
            .project-text Using the Twitch API
      .project
        a(href="https://codepen.io/Knochenmark/full/QgjErZ/")
          .project-img
            img(src="assets/img/simon.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Simon Game
            .project-text The memory game Simon using the HTML5 Audio tag.
      .project
        a(href="https://codepen.io/Knochenmark/full/qaWyOx/")
          .project-img
            img(src="assets/img/calc.jpg")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Calculator
            .project-text Based on the iphone calculator
section(id="about")
  article
    h1 About Me
    p.
      Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen?
    p.
      Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht? Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können.
    p.
      Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung trifft, eine Freude zu genießen, die keine unangenehmen Folgen hat, oder einen, der Schmerz vermeidet, welcher keine daraus resultierende Freude nach sich zieht? Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur,
section(id="contact")
  article
    h1 Contact
      h2 Thanks for visiting
        .contact-content
          .email
            span Say hello
            a(href="mailto:placeholder@gmail.com")  placeholder@gmail.com
//- Footer
include ../includes/footer
