aside(class="vertical-sidebar")
    .vertical-logo
      .icon
        a(href="#home")
          include ../svg/anchor.svg
    .vertical-menu
      nav.home-navigation
        .nav-item
          a(href="#home") Home
        .nav-item
          a(href="#projects") Projects
        .nav-item
          a(href="#about") About Me
        .nav-item
          a(href="#contact") Contact
    .vertical-social
      .icon
        a(href="https://github.com/Knochenmark")
          include ../svg/github.svg
      .icon.codepen
        a(href="https://codepen.io/Knochenmark")
          include ../svg/codepen.svg
section(id="projects")
  article
    h1 Projects
    .project-list
      .project
        a(href="https://codepen.io/Knochenmark/full/ZpYKPE/")
          .project-img
            img(src="assets/img/weather.jpg" alt="weather app")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Weather App
            .project-text A weather app that uses the darksky weather API to display the current weather, a forcast for the week and temperature values over the day. The units can be toggled between SI and Imperial with a click on the degree symbol.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip darksky
      .project
        a(href="https://codepen.io/Knochenmark/full/qrqjaQ/")
          .project-img
            img(src="assets/img/pomodoro.jpg" alt="pomodoro clock")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Pomodoro
            .project-text Based on the kitchen clock which is also used for the pomodoro technique to manage time intervals of 25min work and 5min breaks. This project features some really impressive pug and stylus function and mixin usage.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Mixins
      .project
        a(href="https://codepen.io/Knochenmark/full/zwrWWP/")
          .project-img
            img(src="assets/img/tictac.jpg" alt="tic tac toe game")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Tic Tac Toe
            .project-text The classic Tic-Tac-Toe game. Play a round against the computer and enjoy some neat looking CSS transitions and effects.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Transitions
      .project
        a(href="https://codepen.io/Knochenmark/full/RRyAqE/")
          .project-img
            img(src="assets/img/quote.jpg" alt="quote and twitter api project")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Quote Generator
            .project-text A simple Quote Generator, that uses the forismatic API to source new quotes. Request random quotes and if you find one you want to share you could use the twitter function.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Forismatic Api
      .project
        a(href="https://codepen.io/Knochenmark/full/GjmZKr/")
          .project-img
            img(src="assets/img/wiki.jpg" alt="wikipedia api project")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Wikipedia API
            .project-text Using the Wikipedia API
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Wikipedia Api
      .project
        a(href="https://codepen.io/Knochenmark/full/YpRBjw/")
          .project-img
            img(src="assets/img/twitch.jpg" alt="twitch api project")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Twitch API
            .project-text The app uses the Twitch API and features an overview of a selection of streamers and channels. Informations about the online status and what the streamer is playing are visible at a single glance.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Twitch Api
      .project
        a(href="https://codepen.io/Knochenmark/full/QgjErZ/")
          .project-img
            img(src="assets/img/simon.jpg" alt="simon game")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Simon Game
            .project-text The memory game Simon using the HTML5 Audio tag.
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
              .chip Audio
      .project
        a(href="https://codepen.io/Knochenmark/full/qaWyOx/")
          .project-img
            img(src="assets/img/calc.jpg" alt="calculator app")
            .project-link
              div View on Codepen
          .project-desc
            .project-title Calculator
            .project-text Based on the iphone calculator
            .chips
              .chip Pug
              .chip Stylus
              .chip Js
section(id="about")
  article
    h1 About Me
    p.
      Hi, I'm Mark! You know what I love most about my portfolio? It's about me. You might think #[span(class="whois") "Who's this self-absorbed guy?"]. Well, thanks for this question, but I'll answer another question first. Yes, I'm good at what I do and when you love yourself, you can't help but love your craft. I like things functional and minimalistic. That's me in a nutshell. If you like my stuff, I don't really care, but if you want to invite me for a beer, drop me a line. - Mark
section(id="contact")
  article
    h2 Thanks for coming by!
    .contact-content I’m always open for a chat so feel free to contact me.
    .email
      span Say hi
      a(href="mailto:marktodd.hl@gmail.com") marktodd.hl@gmail.com
//- Footer
include ../includes/footer
